.Image{
    margin: 20px;
    height: 40%;
    margin-bottom: 0px;
    background-color: rgb(226, 221, 221);
    border-radius: 10px;
}
.main-div{
    width: 70%;
}
.image1{
    margin: 10px;
    height: 20%;
    background-color: rgb(226, 221, 221);
    border-radius: 10px;
    
}
.Image3{
    margin: 20px;
    height: 80%;
    border-radius: 10px;
}
.item{
    height: 150px;
    margin-top: -140px;
}
.size{
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 42px;

    border: 2px solid rgb(102, 98, 98);
    border-radius: 10px;
    align-items: center;
    padding: 1px 5px;
    box-sizing: border-box;
    
}
.selector{
    gap:10px;
    margin-top: 5px;
} 
.up_down_icon{
    display: flex;
    flex-direction: column;


}